.content{
  background: linear-gradient(90deg, rgba(172,240,240,1) 16%, rgba(0,255,255,1) 88%);;
  padding: 50px;
  position: fixed;
  top:110px;
  right: 0;
  left: 0;
  bottom: 60px;
}
app-header{
  height:80px;
}
app-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
app-breadcrumbs{
  height:30px;
}