<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="content">
  <app-search (sortWay)= 'sortWay=$event'></app-search>
  <app-course-list [sortWay]='sortWay'></app-course-list>
</div>
<app-footer></app-footer>
