@mixin fixed {
  position: fixed;
  width: 100%;
}
:host{
  background: linear-gradient(90deg, rgba(172,240,240,1) 16%, rgba(0,255,255,1) 88%);
  display: block;
  @include fixed();
  height: 100vh;
  overflow: scroll;
}

.main_wrapper{
  margin-top: 80px;
  display: block;
  .main-content{
    padding: 0px 50px 50px 50px;
  }
}
app-header{
  @include fixed();
  top: 0;
  height:80px;
}
app-footer{
  @include fixed();
  bottom: 0;
  height: 45px;
}
app-breadcrumbs{
  @include fixed();
  top: 80px;
  height: 30px;
}
