<div class="content">
    <h4>Title:</h4>
    <input [(ngModel)]="newCourse.title" >
    <h4>Description:</h4>
    <textarea [(ngModel)]="newCourse.description" ></textarea>
    <h4>Date:</h4>
    <app-date-input (inputEvent)="newCourse.date = $event"></app-date-input>
    <h4>Duration:</h4>
    <app-duration-input (inputEvent)="newCourse.duration = $event" ></app-duration-input>
    <h4>Authors:</h4>
    <app-authors-input (inputEvent)="authors" ngDefaultControl></app-authors-input>
    <div class="btn-wrapper">
        <button (click)="checkNewCourse()">Save</button>
        <button (click)="hideAddCoursePage()">Cancel</button>
    </div>
</div>