<div class="pop-up">
    <div class="pop-up_wrapper">
        <span>invalid email address</span>
        <button id="error-ok">Ok</button>
        <div class='close' id="error-ok"></div>
    </div>
</div>