.pop-up{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    .pop-up_wrapper{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: space-around;
    width: 200px;
    height: 150px;
    background: #10d6d6;
    padding: 10px;
    box-shadow: 0px 0px 10px 15px rgba(209, 27, 6, 0.76);
    }
}

.close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }