/* You can add global styles to this file, and also import other style files */

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 1.1rem;
}

button {
  cursor: pointer;
  background: #00bcd2;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  color: #fff;
  outline: none;
  &:hover {
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2) inset;
  }
  &:active{
    transform: scale(1.05);
  }
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(172,240,240,1) 16%, rgba(0,255,255,1) 88%);
}

.pop-up{
  width:100%;
  min-height:100%;
  background-color: rgba(0, 0, 0, 0.61);
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}

.pop-up_wrapper{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: space-around;
    background: #10d6d6;
    padding: 30px;
    .pop-up_title {
        text-align: center;
    }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  }
  .close:hover {
  opacity: 1;
  transform: scale(1.05);
  }
  .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  }
  .close:before {
  transform: rotate(45deg);
  }
  .close:after {
  transform: rotate(-45deg);
  }