/* You can add global styles to this file, and also import other style files */

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 1.1rem;
}

button {
  cursor: pointer;
  background: #00bcd2;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  color: #fff;
  outline: none;
  &:hover {
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2) inset;
  }
  &:active{
    transform: scale(1.05);
  }
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
