<form [formGroup]="courseAuthors" class="authors-form">
    <div class="add-author">
        <div class="author-input-wrapper">
            <input type='text' formControlName='inputValue' class="author-input" >
            <ul class="available-authors-List" *ngIf="availableAuthorsList.length">
                <li class="available-authors_item" *ngFor="let availableAuthor of availableAuthorsList" (click)="replaceAuthorToInput(availableAuthor)">{{availableAuthor}}</li>
            </ul>
        </div>
        <span  pan class="tooltip" *ngIf="isValidateValue">Invalid author`s name</span>
        <button class="add-author_btn" type="button" (click)="addAuthor()"
        [disabled]="courseAuthors.invalid">Add author</button>

    </div>

    <div class="authors-list" formArrayName="authors">
        <div class="authors-list_item" *ngFor="let author of authorsOfCourse; let i = index">
            <label class="author-name">{{authorsOfCourse[i].value}}</label>
            <button class="remove-author" (click)="removeAuthor(i)">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
    </div>
</form>