.authors-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
}

.add-author{
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 320px;
    position: relative;
    .author-input-wrapper{
        width: 63%;
        position: relative;
        .author-input{
            width: 100%;
        }
    }
    .available-authors-List{
        position: absolute;
        background-color: #06d0d0;
        border-radius: 0 0  10px 10px;
        width: 103%;
        padding: 3px;
        box-shadow: 0px 16px 13px 2px rgba(34, 60, 80, 0.2);
        .available-authors_item{
            cursor: pointer;
            &:hover{
                background-color:#00ffff;
            }
        }
    }
}

.authors-list{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 40px;
    grid-template-columns: repeat(3, 170px);
    grid-gap: 10px;
    .authors-list_item{
        width: max-content;
        background-color: #4bdcdc;
        border-radius: 10px;
        display: flex;
        padding: 7px;
        align-items: center;
        gap: 5px;
        .author-name{
            font-size: 0.9rem;
        }
        .remove-author{
            padding: 0;
            width: 24px;
            height:24px;
        }
    }
}

.tooltip{
    top: 30%;
    left: calc(100% + 20px);
    width: max-content;
}