:host {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);;
  border-radius: 10px;

  .item-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    background-color: #6beaea;

    .item-content {
      padding: 15px;
      width: 90%;
    }

    .item-btn button {
      width: 100%;
    }

    .item-btn button:first-child {
      margin-bottom: 5px;
    }
  }
}

.item-title {
  display: flex;
  justify-content: space-between;

  .item-date{
    display: flex;
    text-align: center;
    span {
      margin-right: 10px;
    }
  }
}

.rate {
  background: linear-gradient(180deg, rgb(107, 234, 234) 17%, rgb(234, 236, 92));
}

