<div class="item-wrapper" [class.rate]="course.isTopRated" >
  <div class="item-content">
    <div class="item-title">
      <h3>{{"Course " + course.title| uppercase }}</h3>
      <div class="item-date">
        <span class="material-icons" *ngIf="course.isTopRated">
          star_border
        </span>
        <span>{{course.duration | duration}}</span>
        <span>{{course.date | date: "EEE, dd MMM yyy"}}</span>
      </div>
    </div>
    <p>{{course.description}}</p>
  </div>
  <div class="item-btn">
    <button [routerLink]="[course.id]">Edit</button>
    <button (click)="toggleConfirmation()">Delete</button>
  </div>
  <app-confirmation *ngIf="isShowConfirmation"
  (confirmDeletion)="onDeleteCourse()"
  (undoDeletion)="toggleConfirmation()"></app-confirmation>
</div>