:host{
    display: flex;
    justify-content: space-between;
    width: 25%;
    min-width: 290px;
    align-items: center;
    .duration-input{
        width: 70%;
    }
    .duration-text{
        padding: 2px;
        border-radius: 25px;
        background: #e9ec5cb6;
    }
}