<div>
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
  <h1>Courses</h1>
</div>
<ng-template #userLogin ></ng-template>
<div>
  <span>User Login</span>
  <button (click)='showComponent()'>Log IN</button>
</div>