button{
  width:100%;
}

.course-item_upcoming {
  border: 2px solid rgba(2, 122, 235, 0.733);
  box-shadow: 0px 2px 10px 2px rgba(0, 120, 255, 0.7);
}

.course-item_fresh {
  border: 2px solid rgb(5, 219, 76);
  box-shadow: 0px 2px 10px 2px rgba(3, 131, 46, 0.733);
}

.rate {
  background: linear-gradient(180deg, rgb(107, 234, 234) 17%, rgb(234, 236, 92));
}

.message-nodata{
  text-align: center;
}