:host {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  input {
    margin-right: 25px;
    border: 0;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    outline: none;
  }
}
